body {
  background-color: #e1ebf6;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #3a6da0;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #bce5f5;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #98ccef;
  color: white;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}